<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <!-- For notification permissions -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/editpen"
        android:label="@string/app_name"
        android:roundIcon="@drawable/editpen"
        android:supportsRtl="true"
        android:theme="@style/Theme.EfficenZ"
        tools:targetApi="31" >

        <activity
            android:name=".ui.notes.NotesEdit"
            android:exported="false" />
        <activity
            android:name=".ui.notes.NotesList"
            android:exported="false" />
        <activity
            android:name=".TimeManagementTaskList"
            android:exported="true" />
        <activity
            android:name=".TimeManagement"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" /> <!-- Can swap .TaskManagement with .MainActivity if u want it to launch in the home page -->
        <activity
            android:name=".TaskManagement"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>